h3
{
   
   text-align: center;
   color: brown;
    
}
.stylenav
{
   text-indent: 230px;

}
.log
{
   margin-left: 60px;
}
.stylecard
{
   width: 400px;
    height: 510px;
    margin-top: -70px;
    margin-left: 870px;
}
.styletitle
{    margin-top: 80px;;
}